.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding: 0 2rem 0 2rem;
  background-color: rgb(255, 223, 169);
}

.section {
  min-width: 500px;
}

.todo {
  display: flex;
  justify-content: space-between;
}

.button {
  font: inherit;
  font-weight: bold;
  font-size: 12px;
  background: hsl(40, 95%, 86%);
  border: 1px solid hsl(40, 95%, 86%);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffaa3b;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
  min-height: 20px;
  width: 60px;
  outline: 0;
  padding: 6px 5px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 40px;
}
