.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding: 0 2rem 0 2rem;
  background-color: rgb(255, 223, 169);
}

.form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.form button {
  margin-top: 2rem;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 14px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.31);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.errmsg {
  background-color: white;
  color: rgb(234, 152, 28);
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}